<div class="rx-account-info">
    <rx-info-panel title="Account Info">
        <div class="account-info-wrapper">
            <div class="account-info-label">
                Account Name
            </div>
            <div class="account-info-data">
                Mosso
            </div>
        </div>
        <div class="account-info-wrapper">
            <div class="account-info-label">
                Account #
            </div>
            <div class="account-info-data">
                323676
            </div>
        </div>
        <div class="account-info-wrapper">
            <div class="account-info-label">
                Badges (23 of 30) <a href="#">View all</a>
            </div>
            <div class="account-info-data">
                <img src="http://www.collectiblebadges.com/media/large_elvis_presley_chief_deputy_badge_gold.jpg">
            </div>
        </div>
    </rx-info-panel>
</div>
